img.emoji-custom {
    width: auto;
    height: auto;
    vertical-align: middle;
}


.emoji-picker .emoji-picker-emoji-area {
    [data-section*="custom-"],[data-section*="recent"]{
        img.emoji {
            width: auto !important;
            height: 50px !important;
        }
    }
}