img.emoji-custom {
    width: auto;
    height: auto;
    vertical-align: middle;
    aspect-ratio: auto !important;
    max-height: 100px;
}


.emoji-picker .emoji-picker-emoji-area {
    [data-section*="custom-"]{
        img.emoji {
            width: auto !important;
            height: 50px !important;
        }
    }
    [data-section*="recent"]{
        img.emoji-custom {
            width: auto !important;
            height: 50px !important;
        }
    }
}