@mixin ttl-rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

@mixin ttl-paddings {
    padding: 1em;
}

@mixin ttl-large-category {
    width: 70vw;
    min-height: 30vw;
}

@mixin ttl-small-category {
    width: 30vw;
    max-height: 30vw;
}