// nav bar
%nav {
  margin-left: 0;
  list-style: none;
  li a {
    display: block;
    text-decoration: none;
  }
}


// 分类滑动导航栏还没改好
.ttl-nav-bar {
  // @extend %nav !optional;
  @extend .clearfix !optional;

  display: flex;
  flex-direction: row;
  align-items: stretch;

  > li {
    display: flex;
    margin-right: 0.5em;

    > a {
      border: none;
      padding: 6px 12px;
      color: var(--primary);
      font-size: $font-up-1;
      line-height: $line-height-small;
      box-sizing: border-box;
      min-height: 30px;
      display: flex;
      align-items: center;
      transition: background-color 0.2s, color 0.2s;

      .d-icon {
        margin-right: 5px;
        opacity: 0.65;
      }

      &:hover {
        color: var(--quaternary);
        background-color: var(--quaternary-low);
      }
    }

    a.active {
      color: var(--secondary);
      background-color: var(--quaternary);

      .d-icon {
        opacity: 1;
      }
    }
  }
}



// 用select kit重写的tag选择器
.tag-chooser {
  &.is-expanded {
    // 重写select kit的自动hidden样式
    .select-kit-body[data-popper-reference-hidden] {
      visibility: unset !important;
      pointer-events: unset !important;
    }
    .select-kit-body {
      display: flex;
      justify-content: flex-start;
      position: fixed !important;
      width: 100%;
      height:500px;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      border-radius: 20px 20px 0 0;
      transform: unset !important;
      box-shadow: shadow("composer");
      
    }
    // 搜索框
    .select-kit-filter {
      width: -webkit-fill-available;
      border: 1px solid rgba(215, 215, 215, 1);
      border-radius: 1.5em;
      margin: 1.2em 1em 0.5em 1em;
      padding: 0.25em 1em !important;
      display: flex;
      flex-direction: row-reverse;
      .d-icon {
        margin-right: 1em;
      }
    }
    // 被选中的tag
    .selected-content {
      border-bottom: unset;
      border-top:unset !important;
      padding: 1em;
      overflow-y: scroll;
      max-height: 25%;
      .selected-choice {
        border-radius:1.2em;
        margin:0.2em;
      }
    }
    // 搜索tag结果
    .select-kit-collection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      padding: 1em;
      border-top:unset !important;

      .select-kit-row {
        border-radius:1.2em;
        font-size: var(--font-0);
        background: white;
        border: 1px solid rgba(215, 215, 215, 1);
        margin: 0.3em;
        flex: unset;
        padding: 0.3em 0.5em;
      }

    }
    // 无结果
    .no-content {
      padding: 1em 1.6em;

    }
    // 指定tag选择面板
    .ttl-tag-panel{
      padding: 1em;
      width: -webkit-fill-available;
      position: fixed;
      bottom: 4em;
      .ttl-filter-item-header {
        margin-bottom: 0.5em;
      }
      .ttl-filter-item {
        margin-bottom:0.8em;
        .btn {
          border-radius:1.2em;
          font-size: var(--font-0);
          background: white;
          border: 1px solid rgba(215, 215, 215, 1);
          // z-index: 1;
          @include hover {
            background: unset;
            color:unset;
          }
          > font {
            pointer-events: none;
          }
          &.active {
            border: 1px solid var(--tertiary);
            color: var(--tertiary);
          }
        }
      }
    }
    // tag chooser 按钮
    .ttl-btn-panel {
      padding: 1em;
      width: -webkit-fill-available;
      position: fixed;
      bottom: 0;
      display: flex;
      justify-content: center;
      border-top: 1px solid var(--primary-100);
      button {
        margin: unset !important;
      }

      .ttl-reset-btn {
        position: absolute;
        left: 2em;
        color:var(--primary-low-mid);

        &:focus {
          background: unset;
          .d-icon {
            color: unset;
          }
        }
      }
      .ttl-ok-btn {
        width:10em;
        border-radius:1.2em;
        color: var(--secondary);
        background: var(--tertiary);
      }
    }
  }
}

// main-outlet-wrapper，改成full width结果其他页面崩了，暂时先这样
#main-outlet-wrapper {
  padding: unset;
  background:var(--primary-50) !important;
  // background: var(--primary-50);
  #main-outlet {
    padding-top: unset;
  }
}
.search-container {
  padding-top: 1.25em;
  background:white;
}

// 搜索栏
.search-header {
  background: white !important;
  // 这个padding感觉会崩
  padding: 0.5em !important;
  .search-page-heading {
    display: none;
  }
  .search-filters {
    background:unset;
    // display: none;
  }
  .search-bar {
    background: unset;
    flex-direction: row;
    input.search-query {
      margin: 0 0.5em 0 0;
      border-radius:1.2em;
      border:1px solid var(--primary-low-mid);
    }
    input[type="text"]:focus {
      border: 1px solid var(--tertiary);
      outline:unset;
    }
    #search-type {
      display: none;
    } 
    button {
      border-radius:1.2em;
    }
  }
  // 搜索上下文
  .search-context {
    display: none !important;
  }
}
// 提示警告
.search-notice {
  .fps-invalid {
    border-radius:1.2em;
    border: unset !important;
  }
}


// 最近搜索
.ttl-recent-searches {
  .search-menu-recent {
    // @include separator;

    .heading {
      display: flex;
      justify-content: space-between;
      margin:1em;
      h4 {
        color: var(--primary-medium);
        font-weight: normal;
        margin-bottom: 0;
      }
      .clear-recent-searches {
        cursor: pointer;
        color: var(--primary-low-mid);
      }
    }
    .search-menu-assistant-item {
      margin: 0.8em 1em 0.8em 1em;
      list-style: none;
      a {
        color: var(--primary);
        .d-icon {
          width: 1.2em;
          height:1.2em;
          color: var(--primary-medium);
          vertical-align: middle;
          margin-right: 5px;
        }
        .search-item-slug {
          margin-left:0.5em;
          margin-right:0.5em;
          font-size: var(--font-0);

        }
      }
      
    }
  }
}
// 排序 筛选 搜索结果
.search-advanced {
  .search-info {
    margin-bottom: unset !important;
    flex-wrap: nowrap !important;
    .select-kit {
      .select-kit-header {
        background: var(--primary-100) !important;
        border: unset !important;
        outline: unset !important;
        padding-left: 1em;
        padding-right: 1em;
        border-radius: 1.2em;
      }
    }
    // 排序
    .sort-by {
      margin-left:0.5em !important;
      margin-right:0.2em !important;
      min-width: 30%;
      details {
        width: 100%;
      }
      label {
        display: none;
      }
      .select-kit {
        .selected-name {
          justify-content: center;
          flex-grow: 1;
          .name {
            white-space: nowrap;
            overflow: hidden;
          }         
        }    
        .select-kit-body {
          border:unset;
          box-shadow:unset;
          // width:calc(100%);
          
          .select-kit-collection {
            max-height: unset;
            .select-kit-row{
              &.is-selected, .is-highlighted {
                background:var(--tertiary-very-low) !important;
              }
            }
          }       
        }
      }
    }
    // 筛选
    .search-filters {
      margin-right:0.5em !important;
      margin-left:0.2em !important;
      flex-grow:1;     
      max-width: calc(70% - 1.4em);
      background: white;
      .select-kit-header {
        padding-left: 1.2em;
      }
      section {
        label {
          display: none;
        }
      }
    }
  }
  // 搜索结果
  .search-results {
    background:var(--primary-50) !important;
    //padding-top: unset !important;
    .loading-container {
      padding: 1em;
    }
    .fps-result {
      background: white;
      border-radius:1em;
      margin:0em 0.5em 1em 0.5em;
      padding: 0.8em 1em 0.8em 1em;

      .author {
        display: none;
      }
      .badge-category-bg {
        border-radius:50%;
      }
      .blurb {
        font-size: var(--font-down-1);
      }
    }
  }
}


// nav bar
.ttl-nav-bar {
  .nav-pills::-webkit-scrollbar {
    display: none;
  }
  .nav-pills {
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      border:unset;
    }

    
    li a.active {
      font-weight: bold;
      color: var(--tertiary);
      background-color: unset;
    }
    li a:hover {
      color: var(--tertiary);
      background-color: unset;
    }

    .ttl-nav-line {
      position: absolute; 
      bottom: 0;
      left:0.5em;
  
      height: 0.2em;
      width: 2em;
      border-radius:0.2em;
      background-color: var(--tertiary);
      transition: all .3s;
    }
  } 
}