<ul class="nav nav-pills">
    {{#each categories as |category|}}
        {{ttl-nav-item category=category i18nLabel=category.name color=category.color}}
    {{/each}}
    <div class="ttl-nav-line"></div>
</ul>

