* {
  scrollbar-width: 0;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.category-logo.aspect-image {
  max-width: 200px;
  margin: 10px;
}
.category-logo.aspect-image img{
  max-width: 200px;
}
.ttl-topic-list-item {
  max-width: 100%;
}